* {
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: expanded;
}

#app {
    padding: 2em;
}

.action-bar {
    align-items: center;
    justify-content: space-between;
    display: flex;
    max-height: 10%;
}

.action-bar-item {
    font-size: 3em;
}

.placeholder {
    height: 64px;
    width: 64px;
}

.header {
    text-align: center;
}

.subscription-list {
    padding: 0;
    list-style: none;
}

.subscription-list .subscription-item {
    margin: 1em 0;
    padding: 1em;
}

.subscription-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8em;
    border-radius: 1em;
    background-color: royalblue;
    color: white;
}

.subscription-info {
    display: flex;
    align-items: center;
    height: inherit;
}

.subscription-logo {
    font-size: 4em;
    margin: 1em;
}

.subscription-label {
    font-size: 3em;
}

.subscription-price {
    font-size: 3em;
    margin: 1em;
}
