* {
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: expanded;
}

.action-bar {
    align-items: center;
    justify-content: space-between;
    display: flex;
    max-height: 10%;
    margin: 1em 2em;
}

.action-bar-item {
    font-size: 3em;
    margin: 1em;
}

.placeholder {
    height: 64px;
    width: 64px;
}

.header {
    text-align: center;
}

.subscription-list {
    margin: 0;
    padding: 0 5%;
    list-style: none;
}

.subscription-item {
    margin: 2%;
    padding: 1em;
    height: 10em;
    background-color: lightpink;
}

.subscription-label {
    font-size: 3em;
}
