* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    font-size: 3em;
    padding: 4%;
    text-align: center;
}

.subscription-item {
    height: 10em;
    background-color: lightpink;
}

.subscription-label {
    font-size: 3em;
}